/* General Styling */
header {
    color: #1b5266;   
    display: flex;
    justify-content:space-between;
    padding: none;
    justify-content: right; 
    margin-bottom: 40px; 
    font-family: 'Quicksand', sans-serif;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    background-color: #7c8589da;
    border: none;

}

.navbar li {
    display: inline-block;
    padding: 30px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Hero Section */
  .hero {
    background-color: #87CEEB;
    color: #fff;
    text-align: center;
    padding: 30px;
    margin: 5px;
  }
  
  .hero-section {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .hero h1 {
    font-size: 76px;
    font-family: 'Moirai One', cursive;
    color: #283960;
    font: bolder;
}
  
  .hero p {
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
    text-decoration: solid;
  }
  
  .cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1b5266;
    color:#fff;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Lato', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
  }
  
  .cta:hover {
    background-color: #ffffffb8;
    color: #1b5266;
  }
  
  /* Product and Services Section */
  .product-section {
    padding: 50px 0;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #1b5266;

  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .product {
    max-width: 300px;
    text-align: center;
  }
  
  .product img {
    width: 100%;
    border-radius: 5px;
  }
  
  .product h3 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .product p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  /* Footer */
  .footer {
    font-family: 'Eczar', serif;
    background-color: #87CEEB;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
  }

  